<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Categories</servlet-name>
        <jsp-file>/categories.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Categories</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addCategory</servlet-name>
        <servlet-class>servlets.AddCategoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addCategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>removeCategory</servlet-name>
        <servlet-class>servlets.RemoveCategoryServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>removeCategory</servlet-name>
        <url-pattern>/removeCategory</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>addBook</servlet-name>
        <servlet-class>servlets.AddBookServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>removeBook</servlet-name>
        <servlet-class>servlets.RemoveBookServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>removeBook</servlet-name>
        <url-pattern>/removeBook</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>showBooksServlet</servlet-name>
        <servlet-class>servlets.ShowBooksServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>showBooksServlet</servlet-name>
        <url-pattern>/listBooks</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

</web-app>


